# Bosten Housing Prices

# General
Housing Values in Suburbs of Boston. The **medv** variable is the target variable. <br>

## Data description
The Boston data frame has 506 rows and 14 columns.This data frame contains the following columns:<br>
<ul>
 <li>
     **crim**: per capita crime rate by town.
 </li>
 <li>
     **zn**: proportion of residential land zoned for lots over 25,000 sq.ft.
 </li>
 <li>
     **indus**: proportion of non-retail business acres per town.
 </li>
 <li>
     **chas**: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).
 </li>
 <li>
     **nox**: nitrogen oxides concentration (parts per 10 million).
 </li>
 <li>
     **rm**:average number of rooms per dwelling.
 </li>
 <li>
     **age**: proportion of owner-occupied units built prior to 1940.
 </li>
 <li>
     **dis **: weighted mean of distances to five Boston employment centres.
 </li>
 <li> 
     **rad**: index of accessibility to radial highways.
 </li>
 <li>
     **tax**: full-value property-tax rate per $10,000.
</li>

</ul>

 **Source **
Harrison, D. and Rubinfeld, D.L. (1978) Hedonic prices and the demand for clean air. J. Environ. Economics and Management 5, 81â€“102.
Belsley D.A., Kuh, E. and Welsch, R.E. (1980) Regression Diagnostics. Identifying Influential Data and Sources of Collinearity. New York: Wiley.

In [9]:
#1.Step Load the data:
from sklearn.datasets import load_boston
import pandas as pd
#
import matplotlib.pyplot as plt
%matplotlib inline

boston = load_boston()
df_boston = pd.DataFrame(boston.data, columns=boston.feature_names)
df_boston['TARGET'] = pd.Series(boston.target)
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TARGET
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [10]:
# Explore the data